#board {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: rgb(245,247,250);
}
.card {
    width: 320px;
    height: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 1%;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
    background-color: white;
    transform: translateX(-50%) translateY(-50%) scale(0.95);
    background-position: center;
    background-size: cover;
}
.text-center{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #e9d7ff;
    background-image: url("background.png");
    background-position: center;
    background-size: cover;
}
.signin-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30vw;
    height: 80vh;
    padding: 2em;
    margin: 2em;
    background-color: #efffee;
    border-radius: 1em;


}

.signin-wrapper > form > *{
    margin: 10px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #8064a2 !important;
}

.navbar{
    background-color: #8064a2 !important;
}
.logo{
    height: 3em;
    padding: 0;
    margin: 0;
}
.navbar-brand{
    padding: 0;
}

.username-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2em;
    margin: 2em;

}
.homepage-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.no-singles{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

body{
    background-color: rgb(245,247,250);
    width: 100vw;
}
.image-container{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.match-table{
    margin: 2em;
    width: 100vw;
}
.singles{
    font-size: 1.5rem;
    font-style: oblique;
    color: rgba(130, 130, 130, 0.35);
}