<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <style>
        .mySlides {display:none;}
    </style>
</head>
<body>


    <div class="username-box">
            <h1 th:text="${profile.firstName}"></h1>
            <h1 style="margin-right: 2px">,</h1>
            <h1 th:text="${profile.name}"></h1>
    </div>

    <h3>bio:</h3>
    <br>
    <p th:text="${profile.bio}"></p>
    <p th:text="${profile.mainPhotoPath}"></p>
    <p th:text="${profile.email}"></p>
    <p th:text="${profile.woman}"></p>
    <p th:text="${profile.age}"></p>
    <p th:text="${profile.Length}"></p>
    <p th:text="${profile.Orientation}"></p>


</body>
</html>