<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Match</title>
</head>
<body>
<tr >
    <td th:text="${profile.firstName}">1</td>
    <td th:text="${profile.name}"></td>
    <td th:text="${profile.bio}"></td>
    <td th:text="${profile.mainPhotoPath}"></td>
    <td th:text="${profile.email}"></td>
    <td th:text="${profile.woman}"></td>
    <td th:text="${profile.age}"></td>
    <td th:text="${profile.Length}"></td>
    <td th:text="${profile.Orientation}"></td>
</tr>
</body>
</html>